@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* PALETA PERSONALIZADA */
:root{
    --color-50: #EBEFFA;
    --color-100: #C6D1F1;
    --color-200: #A1B4E8;
    --color-300: #7C97DE;
    --color-400: #5879D5;
    --color-500: #335CCC;
    --color-600: #2A4BA7;
    --color-700: #213B83;
    --color-800: #172A5E;
    --color-900: #0E1A39;
    --color-950: #050914;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ESTILOS DE TEXTOS  */

.texto-primario {
    @apply text-black dark:text-white;
}
.texto-secundario {
    @apply text-gray-700 dark:text-gray-200;
}
.texto-terciario {
    @apply text-gray-600 dark:text-gray-400;
}
.texto-cuaternario {
    @apply text-gray-600 dark:text-gray-300;
}

/* ESTILOS DE FONDOS  */
.fondo-primario {
    @apply bg-white dark:bg-gray-900;
}
.fondo-secundario {
    @apply bg-white dark:bg-gray-700;
}
.fondo-terciario {
    @apply bg-gray-50 dark:bg-gray-900;
}
.fondo-cuaternario {
    @apply bg-gray-100 dark:bg-gray-800;
}

/* ESTILOS DE LOS FORMULARIOS */
.label-form{
    @apply block text-sm font-medium text-gray-700 mb-2;
}
.input-form{
    @apply w-full px-4 py-3 rounded-lg border focus:ring-2
    focus:ring-red-600 focus:border-transparent transition-colors;
}

